{% extends 'base.html'%}


{%block content%}
<h1>Please Upload Your File Here!</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   UserID : <input type="text" name = "id"><br><br>
  Account Exchange ID : <input type="text" name = "Eid"><br><br>
  <!-- Exchange Name : <input type="text" name = "Ename"><br><br> -->

  <label for="exchange">Exchange Name :</label>

<select name="exchange" id="exchange">
<option value="zebpay">zebpay</option>
<option value="koinex">koinex</option>
<option value="binance">binance</option>
<option value="wazirx">wazir</option>
<option value="bitbns">bitbns</option>
<option value="coindcx">coindcx</option>
<option value="buyucoin">buyucoin</option>
</select>
</select>

  <input type="file" name="myfiles"><br><br>
  <button type="submit">Upload</button>
  <!-- {{abc}} -->
</form>
<br><br>
{%if user.is_authenticated%}
<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>

  {% endif %}
{%endblock%}
